{% extends "base.html" %}{% block title %}Reset Password{% endblock %}
{% block content %}
<div style="max-width:380px;margin:2rem auto;">
  <div style="font-family:'Bebas Neue',sans-serif;font-size:1.5rem;letter-spacing:.06em;margin-bottom:1.25rem;">New Password</div>
  <form method="POST">
    <div class="fg"><label class="fl">New Password</label><input type="password" name="password" class="fi" placeholder="min 6 characters" required autofocus/></div>
    <button type="submit" class="btn btn-k btn-f">Update Password</button>
  </form>
</div>
{% endblock %}
